
@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<p>This was so much fun</p>


@{List<string> foods = new List<string>();
    foods.Add("apple");
    foods.Add("banana");
    foods.Add("peach");
    foods.Add("orange");
    foods.Add("lime");
    foods.Add("lemon");



    foreach (string word in foods)
    {
        <p>@word</p>
    }

}